body {
  color: #222;
}

/*custom Elements*/

.pum-container{
  padding-top: 80px !important;
  padding-bottom: 30px !important;
  .pum-title{
    margin-bottom: 50px;
  }
  .form-group{
    max-width:500px;
    margin:0 auto;
  }
  input[type="submit"]{
    display: block;
    margin:0 auto;
    margin-top:50px;
    border-radius: 5px !important;
  }
}


section:focus{
  outline: none;
}

.btn-white {
  border: solid 1px #222;
  color: #222 !important;
  border-radius: 5px;
  padding: 5px 20px;
}

.btn-white-gray {
  border: solid 1px #e2e2e2;
  color: #222 !important;
  border-radius: 5px;
  padding: 5px 20px;
  background:#fff;
}

.btn-white:hover, .btn-white-gray:hover {
  background: #1e95ee !important;
  border: solid 1px #1e95ee !important;
  color: #fff !important;
}

.btn-blue {
  background: #1e95ee !important;
  border: solid 1px #1e95ee !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 5px 20px;
  height: auto !important;
}

.btn-blue:hover {
  border: solid 1px #222 !important;
  color: #222 !important;
  background: #fff !important;
}

.bg-blue {
  background: #1E96EE;
  padding-top: 40px;
  box-shadow: 0 4px 44px -5px rgba(0, 0, 0, 0.5);
  color: #fff;
  h3 {
    color: #fff;
  }
  img.digital_bank {
    width: 100%;
    margin-left: -15px;
  }
}

.bg-blue-50 {
  background: #1E96EE;
  padding: 40px 30px 10px;
  box-shadow: 0 4px 44px -5px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 200%;
  .blue-cont {
    width: 50%;
    .blue-item {
      .num {
        width: 50px;
        float: left;
        font-size: 3em;
      }
      .learn-item {
        margin-top: 12px;
        float: left;
        width: calc(100% - 50px);
        max-width: none;
      }
    }
  }
  h3 {
    color: #fff;
  }
  img.digital_bank {
    width: 100%;
    margin-left: -15px;
  }
}

.learn2-cont {
  padding-top: 40px;
}

.noPadding {
  padding: 0px !important;
}

.content-area {
  padding-bottom: 0px;
}

/*custom Navigation*/
.main-navigation {
  background: transparent;
  border: none;
}

.main-navigation.fixed {
  background: #fff;
  border: none;
  box-shadow: 1px 7px 12px -3px rgba(0,0,0, 0.3);
}
.main-navigation .menu li a:hover{
  .menu_i_outer{
    position: relative;
  }
  .menu_i_inner::after{
    content: "";
    width: 20px;
    height: 4px;
    bottom: -10px;
    position: absolute;
    background: #1E96EE;
    right: -1px;
    transition:background-color .6s ease-out;
  }

}
.bold {
  font-weight: 600;
}
.header-img {
  position: absolute;
  right: 0;
  width: 67.5%;
  img {
    width: 100%;
  }
}
.navbar-cont{
  height:53px;
}
/*custom Navigation-end*/

/*Learn More start*/
#learn_first_section {
  padding-top: 0px;
  h1 {
    margin-bottom: 70px;
  }
  .go_home {
    margin-bottom: 50px;
    a {
      padding: 2px 10px;
    }
  }
}

.learn-pad-1 {
  padding-top: 100px;
}

.learn-pad-2 {
  padding-top: 80px;
}

.learn_actions {
  margin: 60px auto
}

.learn-item {
  margin-bottom: 50px;
  max-width: 360px;
  .learn-item-title {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 12px;
  }
  .learn-item-body {
    line-height: 1.5em;
  }
}

.deposits_img {
  margin-left: -150px;
}

/*Learn More end*/

/*become section*/
.main-title-2 {
  margin-bottom: 80px;
}

#become {
  min-height: 100vh;
  h1 {
    margin-top: 15%;
    margin-bottom: 50px;
    span.dig_bank {
      color: #fff;
    }
  }
  .mac-become {
    img {
      margin-right: -40px;
    }
  }
  .finex-prg {
    p {
      max-width: 500px;
    }
  }
}

#about {
  min-height: 100vh;
  .main-title-2 {
    margin-bottom: 80px;
  }
  .finex-prg-border {
    position: relative;
    margin-top: -50px;
    color: #fff;
    border: solid 1px #fff;
    padding: 50px 25px 30px;
    .dark_ques {
      position: absolute;
      right: 30px;
      top: -30px;
      img {
        width: 60px;
      }
    }
    .author_name {
      margin-bottom: 10px;
    }
  }
}

#redefine {
  .redefine-img {
    img.iphone-img {
      max-width: 350px;
    }
  }
  .padding-cont {
    .finex-prg {
      padding-right: 50px;
    }
    .redefine-img {
      margin-right: -90px;
      img {
        max-width: 105%;
      }
    }
  }
  .actions {
    margin: 60px auto;
  }
}

#solutions {
  .solutions-header {
    padding: 20px;
    background: url("../images/sol_bg.png") no-repeat top center;
    background-size: cover;
    margin-bottom: 70px;

    h1 {
      color: #fff;
      margin-bottom: 0px;
    }
  }
  .solutions-item {
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.4);
    margin: 0 30px;
    margin-bottom: 50px;
    .solutions-item-header {
      background: #184465;
      padding: 14px 20px;
      display: flex;
      align-items: flex-end;
      color: #fff;
      font-size: 17px;
      img {
        height: 44px;
        margin-right: 5px;
      }
    }
    .solutions-item-body {
      height: 15em;
      padding: 25px 25px 10px;
    }
  }
}

#contact {
  position: relative;
  padding-bottom: 15px;
  .contact-bg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .contact-address {
    margin-top: 15vh;
  }
  .mg-top-40 {
    margin-top: 40px;
  }
  .address-item {
    display: flex;
    color: #fff;
    img {
      width: 26px;
      height: 26px;
      margin-right: 10px;
      margin-top: 10px;
    }
    p {
      margin-bottom: 0px;
    }
    .pad-15 {
      padding-top: 15px;
    }
  }
  .ques-marks {
    margin-top: 50px;
    a {
      margin-right: 20px;
    }
  }
}

.footer {
  .footer-border {
    border-top: solid 1px #fff;
    margin-bottom: 15px;
  }
  .address-item {
    display: flex;
    font-size: 12px;
    color: #fff;
    img {
      width: 26px;
      height: 26px;
      margin-right: 10px;
      margin-top: 10px;
    }
    p {
      margin-bottom: 0px;
    }
    .pad-15 {
      padding-top: 15px;
    }
  }
  p.copyright {
    font-size: 14px;
    margin-top: 37px;
    color: #fff;
    margin-bottom: 0px;
  }
  .ques-marks {
    text-align: right;
    margin-top: 17px;
  }
}

footer.footer {
  background: url("../images/footer_bg.png") no-repeat center top;
  background-size: cover;
}

/*become section*/

/* blog and news start*/
#posts {
  height:calc(100vh - 400px);
  article {
    box-shadow: 1px 7px 12px -3px rgba(0, 0, 0, 0.3);
    margin:0 15px;
    .post-content{
      height:8em;
      overflow: hidden;
      padding:15px;
      font-size: 16px;
      .c-post-date{
        color: #8a8a8a;
        font-size:14px;
        margin-bottom:13px;
      }
    }
  }

  .c-post-header{
    position: relative;

    .post-header-cont{
      position:absolute;
      bottom:0;
      padding:0 15px;
      width:100%;
      .c-post-title{
        color:#fff;
        float:left;
        width:calc(100% - 120px);
      }
      .read_more{
        float: left;
        a{
          position: absolute;
          right:15px;
          bottom:-18px;
          width:120px !important;
          padding:0;
          font-size:10px;
          margin-bottom:0;
          color:#1E96EE!important;
          &:hover{
            color:#1E96EE!important;
            background: #fff !important;
          }
        }
      }
    }
  }
}

/* blog and news end*/
/*responsive css start*/
@media (max-width: 768px) {
  #solutions {
    .solutions-item {

      .solutions-item-header {

      }
      .solutions-item-body {
        height: auto;
      }
    }
  }

}

@media (min-width: 768px) {
  .padding-cont {
    padding-left: calc(50% - 375px);
  }
}

@media (min-width: 992px) {
  .padding-cont {
    padding-left: calc(50% - 485px);
  }
}

@media (min-width: 1200px) {
  .padding-cont {
    padding-left: calc(50% - 585px);
  }
}

@media all and (min-width: 1681px) {
  .header-img {
    width: 64.5%;
  }
  body {
    font-size: 20px;
    .finex-prg {
      p {
        line-height: 1.6em;
      }
    }
    .finex-prg-border {
      p {
        line-height: 1.6em;
      }
    }
    .main-title {
      font-size: 65px;
    }
  }
  #about {
    height: 80vh;
    .main-title-2 {
      margin-bottom: 80px;
    }
    .finex-prg-border {
      margin-left: 80px;
    }
    .finex-prg {
      margin-right: 80px;
    }
  }
  .site-container {
    padding: 0px 200px;
  }
}

/*responsive css-end*/