body {
  color: #222; }

#content {
  margin-top: -80px; }

#masthead {
  position: relative;
  z-index: 999; }

/*custom Elements*/
.learn_actions .btn {
  width: 210px; }

.pum-container {
  padding-top: 80px !important;
  padding-bottom: 30px !important; }
  .pum-container .pum-title {
    margin-bottom: 50px; }
  .pum-container .form-group {
    max-width: 500px;
    margin: 0 auto; }
  .pum-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px !important; }

section:focus {
  outline: none; }

button:focus {
  outline: 0; }

.btn-white {
  border: solid 1px #222;
  color: #222 !important;
  border-radius: 5px;
  padding: 5px 20px; }

.btn-white-gray {
  border: solid 1px #e2e2e2;
  color: #222 !important;
  border-radius: 5px;
  padding: 5px 20px;
  background: #fff; }

.btn-white:hover, .btn-white-gray:hover {
  background: #1e95ee !important;
  border: solid 1px #1e95ee !important;
  color: #fff !important; }

.btn-blue {
  background: #1e95ee !important;
  border: solid 1px #1e95ee !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 5px 20px;
  height: auto !important; }

.btn-blue:hover {
  border: solid 1px #222 !important;
  color: #222 !important;
  background: #fff !important; }

.bg-blue {
  background: #1E96EE;
  padding-top: 40px;
  box-shadow: 0 4px 44px -5px rgba(0, 0, 0, 0.5);
  color: #fff; }
  .bg-blue h3 {
    color: #fff; }
  .bg-blue img.digital_bank {
    width: 100%;
    margin-left: -15px; }

.bg-blue-50 {
  background: #1E96EE;
  padding: 40px 30px 10px;
  box-shadow: 0 4px 44px -5px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 200%; }
  .bg-blue-50 .blue-cont {
    width: 50%; }
    .bg-blue-50 .blue-cont .blue-item .num {
      width: 50px;
      float: left;
      font-size: 3em;
      margin-top: 5px; }
    .bg-blue-50 .blue-cont .blue-item .learn-item {
      margin-top: 12px;
      float: left;
      width: calc(100% - 50px);
      max-width: none; }
  .bg-blue-50 h4 {
    color: #fff; }
  .bg-blue-50 img.digital_bank {
    width: 100%;
    margin-left: -15px; }

.learn2-cont {
  padding-top: 40px; }

.noPadding {
  padding: 0px !important; }

.content-area {
  padding-bottom: 0px; }

/*custom Navigation*/
.main-navigation {
  background: transparent;
  border: none; }
  .main-navigation .nav-open .nav_menus {
    width: 100%;
    background: #fff; }

.main-navigation.fixed {
  background: #fff;
  border: none;
  box-shadow: 1px 7px 12px -3px rgba(0, 0, 0, 0.3); }

.main-navigation .menu li a:hover .menu_i_outer {
  position: relative; }
.main-navigation .menu li a:hover .menu_i_inner::after {
  content: "";
  width: 20px;
  height: 4px;
  bottom: -10px;
  position: absolute;
  background: #1E96EE;
  right: -1px;
  transition: background-color .6s ease-out; }

.bold {
  font-weight: 600; }

.header-img {
  position: absolute;
  right: 0;
  width: 67.5%; }
  .header-img img {
    width: 100%; }

.navbar-cont {
  height: 53px; }

/*custom Navigation-end*/
/*Learn More start*/
#learn_first_section {
  padding-top: 0px; }
  #learn_first_section h1 {
    margin-bottom: 70px; }
  #learn_first_section .go_home {
    margin-bottom: 50px; }
    #learn_first_section .go_home a {
      padding: 2px 10px; }

.learn-pad-1 {
  padding-top: 100px; }

.learn-pad-2 {
  padding-top: 80px; }

.learn-item {
  margin-bottom: 50px;
  max-width: 360px; }
  .learn-item .learn-item-title {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 12px;
    line-height: 1.2em; }
  .learn-item .learn-item-body {
    line-height: 1.5em; }

.deposits_img {
  margin-left: -150px; }

/*Learn More end*/
/*become section*/
.main-title-2 {
  margin-bottom: 80px; }

#become {
  min-height: 100vh; }
  #become h1 {
    margin-top: 15%;
    margin-bottom: 50px; }
    #become h1 span.dig_bank {
      color: #fff;
      font-weight: 600; }
  #become .mac-become img {
    margin-right: -40px; }
  #become .finex-prg p {
    max-width: 500px; }

#about {
  min-height: 100vh; }
  #about .main-title-2 {
    margin-bottom: 80px; }
  #about .finex-prg-border {
    position: relative;
    margin-top: -50px;
    color: #fff;
    border: solid 1px #fff;
    padding: 50px 25px 30px; }
    #about .finex-prg-border .dark_ques {
      position: absolute;
      right: 30px;
      top: -30px; }
      #about .finex-prg-border .dark_ques img {
        width: 60px; }
    #about .finex-prg-border .author_name {
      margin-bottom: 10px; }

#redefine {
  padding-top: 210px; }
  #redefine .redefine-img img.iphone-img {
    max-width: 350px; }
  #redefine .padding-cont .finex-prg {
    padding-right: 50px; }
  #redefine .padding-cont .redefine-img {
    margin-right: -90px; }
    #redefine .padding-cont .redefine-img img {
      max-width: 105%; }
  #redefine .actions {
    margin: 60px auto; }

#solutions .solutions-header {
  padding: 20px;
  background: url("../images/sol_bg.png") no-repeat top center;
  background-size: cover;
  margin-bottom: 70px; }
  #solutions .solutions-header h1 {
    color: #fff;
    margin-bottom: 0px; }
#solutions .solutions-item {
  box-shadow: 1px 7px 12px -3px rgba(0, 0, 0, 0.3);
  margin: 0 30px;
  margin-bottom: 50px; }
  #solutions .solutions-item .solutions-item-header {
    background: #184465;
    padding: 14px 20px;
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 17px; }
    #solutions .solutions-item .solutions-item-header img {
      height: 44px;
      margin-right: 5px; }
  #solutions .solutions-item .solutions-item-body {
    overflow: hidden;
    height: 15em;
    padding: 25px 25px 10px; }
  #solutions .solutions-item .btn {
    width: 155px; }

#blog_section, #news {
  background: #fafafa; }

#contact {
  position: relative;
  padding-bottom: 15px; }
  #contact .contact-bg {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    #contact .contact-bg img {
      width: 100%; }
  #contact p.contact-label {
    font-size: 14px; }
  #contact .contact-address {
    margin-top: 15vh; }
  #contact .mg-top-40 {
    margin-top: 40px; }
  #contact .address-item {
    display: flex;
    color: #fff; }
    #contact .address-item img {
      width: 26px;
      height: 26px;
      margin-right: 10px;
      margin-top: 10px; }
    #contact .address-item p {
      margin-bottom: 0px; }
    #contact .address-item .pad-15 {
      padding-top: 15px; }
  #contact .ques-marks {
    margin-top: 50px; }
    #contact .ques-marks a {
      margin-right: 20px; }

.footer .footer-border {
  border-top: solid 1px #fff;
  margin-bottom: 15px; }
.footer .address-item {
  display: flex;
  font-size: 12px;
  color: #fff; }
  .footer .address-item img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-top: 10px; }
  .footer .address-item p {
    margin-bottom: 0px; }
  .footer .address-item .pad-15 {
    padding-top: 15px; }
.footer p.copyright {
  font-size: 14px;
  margin-top: 37px;
  color: #fff;
  margin-bottom: 0px; }
.footer .ques-marks {
  text-align: right;
  margin-top: 17px; }

footer.footer {
  background: url("../images/footer_bg.png") no-repeat center top;
  background-size: cover; }

/*become section*/
/* blog and news start*/
#posts {
  min-height: calc(100vh - 400px); }
  #posts article {
    box-shadow: 1px 7px 12px -3px rgba(0, 0, 0, 0.3);
    margin: 0 15px; }
    #posts article .post-content {
      height: 8em;
      overflow: hidden;
      padding: 15px;
      font-size: 16px;
      background: #fff; }
      #posts article .post-content .c-post-date {
        color: #8a8a8a;
        font-size: 14px;
        margin-bottom: 13px; }
    #posts article img.wp-post-image {
      width: 100%; }
  #posts .c-post-header {
    position: relative; }
    #posts .c-post-header .post-header-cont {
      position: absolute;
      bottom: 0;
      padding: 0 15px;
      width: 100%; }
      #posts .c-post-header .post-header-cont .c-post-title {
        color: #fff;
        float: left;
        width: calc(100% - 120px); }
      #posts .c-post-header .post-header-cont .read_more {
        float: left; }
        #posts .c-post-header .post-header-cont .read_more a {
          position: absolute;
          right: 15px;
          bottom: -18px;
          width: 120px !important;
          padding: 0;
          font-size: 10px;
          margin-bottom: 0;
          color: #1E96EE !important; }
          #posts .c-post-header .post-header-cont .read_more a:hover {
            color: #1E96EE !important;
            background: #fff !important; }

/* blog and news end*/
/* Post item page start*/
article .go_home {
  margin-top: 80px; }
  article .go_home img {
    width: 18px !important; }
article .entry-content .entry-meta {
  padding: 30px 0px 15px; }
article .post_title {
  margin-top: 25vh; }
  article .post_title h2 {
    color: #fff; }
article .post-content p {
  line-height: 1.6em; }

/* Post item page end*/
/*responsive css start*/
@media (max-width: 768px) {
  #solutions .solutions-item .solutions-item-body {
    height: auto; } }
@media (min-width: 768px) {
  .padding-cont {
    padding-left: calc(50% - 375px);
    padding-right: calc(50% - 375px); } }
@media (min-width: 992px) {
  .padding-cont {
    padding-left: calc(50% - 485px);
    padding-right: 0; } }
@media (min-width: 1200px) {
  .padding-cont {
    padding-left: calc(50% - 585px);
    padding-right: 0; } }
@media (min-width: 1440px) {
  #contact .contact-form {
    margin-bottom: 10vh; }
  #contact .contact-address {
    margin-top: 33vh; }
  #contact div.footer {
    margin-bottom: 25px; }
    #contact div.footer .footer-border {
      margin-bottom: 25px; } }
@media all and (min-width: 1681px) {
  .header-img {
    width: 64.5%; }

  body {
    font-size: 20px; }
    body .finex-prg p {
      line-height: 1.6em; }
    body .finex-prg-border p {
      line-height: 1.6em; }
    body .main-title {
      font-size: 65px; }

  #about .main-title-2 {
    margin-bottom: 80px; }
  #about .finex-prg-border {
    margin-left: 80px; }
  #about .finex-prg {
    margin-right: 80px; }

  #contact .contact-form {
    margin-bottom: 170px; }
  #contact .contact-address {
    margin-top: 33vh; }
  #contact div.footer {
    margin-bottom: 40px; }
    #contact div.footer .footer-border {
      margin-bottom: 40px; } }
@media all and (min-width: 993px) {
  #learn_more_cont {
    width: 100%; } }
@media all and (max-width: 992px) {
  h1 {
    font-size: 40px; }

  #become {
    padding-bottom: 30px; }
    #become .mac-become img {
      margin-right: 0px; }
    #become h1 span.dig_bank {
      color: #222; }
    #become .header-hor-img {
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: -1; }
      #become .header-hor-img img {
        width: 100%; }

  #about .finex-prg-border {
    color: #222;
    margin-top: 50px;
    border: solid 1px #16324c; }

  #redefine .redefine-img img.iphone-img {
    max-width: 280px; }
  #redefine .padding-cont .finex-prg {
    padding-right: 0; }
  #redefine .padding-cont .redefine-img {
    margin-right: 0px; }
    #redefine .padding-cont .redefine-img img {
      max-width: 100%; }

  #solutions .solutions-item {
    margin: 35px auto; }

  #contact {
    padding-bottom: 0px; }

  .footer {
    background: url("../images/footer_bg.png") no-repeat top center;
    background-size: cover;
    padding: 72px 0px; }
    .footer .footer-border {
      border: 0; }
    .footer .ques-marks {
      text-align: center;
      max-width: 500px;
      margin: 25px auto !important;
      padding: 25px 0px !important;
      border-top: solid 1px #fff;
      border-bottom: solid 1px #fff; }
      .footer .ques-marks a:last-child {
        margin-right: 0px !important; }
    .footer .address-item {
      width: 210px;
      margin: 0 auto; }
      .footer .address-item:last-child {
        margin-bottom: 15px; }

  #posts article {
    margin: 30px 15px; }
    #posts article img.wp-post-image {
      min-height: 165px; }
  #posts .c-post-header {
    position: relative; }
    #posts .c-post-header .post-header-cont {
      position: absolute;
      bottom: 0;
      padding: 0 15px;
      width: 100%; }
      #posts .c-post-header .post-header-cont .c-post-title {
        width: 100%; }
      #posts .c-post-header .post-header-cont .read_more {
        float: left; }
        #posts .c-post-header .post-header-cont .read_more a {
          position: absolute;
          right: 15px;
          bottom: auto;
          top: -50px;
          width: 120px !important;
          padding: 0;
          font-size: 10px;
          margin-bottom: 0;
          color: #1E96EE !important; }
          #posts .c-post-header .post-header-cont .read_more a:hover {
            color: #1E96EE !important;
            background: #fff !important; }

  .learn-item {
    max-width: 100%;
    margin-bottom: 20px; }
    .learn-item .learn-item-title {
      font-size: 1.2em; }
    .learn-item .blue-learn-body {
      margin-left: -35px; }

  .bg-blue-50 .blue-cont .blue-item .num {
    width: 35px; }

  .bg-blue img.digital_bank {
    margin-left: 0px; }

  #learn_first_section {
    padding-bottom: 30px; }

  .learn_more {
    padding: 20px 0px; }
    .learn_more .learn-pad-1, .learn_more .learn-pad-2 {
      padding-top: 0; }
    .learn_more .deposits_img {
      margin-bottom: 30px; }
    .learn_more .bg-blue-50 {
      margin-left: -50%; }
      .learn_more .bg-blue-50 .blue-cont {
        margin-left: 24%; }
    .learn_more img {
      margin: 0 auto;
      display: block; } }
@media (min-width: 993px) and (max-width: 1279px) {
  #contact {
    padding-bottom: 0; }
    #contact .contact-address {
      display: none; }
    #contact .contact-form-cont {
      float: none;
      margin: 0 auto; }
    #contact .contact-bg {
      display: none; }
    #contact div.footer {
      background: url(../images/footer_bg.png) no-repeat top center;
      background-size: cover;
      padding: 20px 0px; }
      #contact div.footer .footer-border {
        border: 0; } }
@media (min-width: 1280px) and (max-width: 1440px) {
  #contact .contact-form {
    margin-bottom: 10vh; }
  #contact .contact-address {
    margin-top: 30vh; } }
@media all and (max-width: 768px) {
  h1 {
    font-size: 32px; }

  #become .mac-become img {
    margin-right: 0px; }
  #become h1 span.dig_bank {
    color: #222; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #become .finex-prg p {
    max-width: 350px; }

  h1 {
    font-size: 48px; } }
/*responsive css-end*/
#blog_section #posts, #news #posts {
  min-height: auto; }
